[Desktop Entry]
Type=Application
Name=NeuroTendrils
Comment=NeuroTendrils desktop app
Exec=NeuroTendrils
Terminal=false
Categories=Utility;Science;
StartupWMClass=NeuroTendrils
Icon=NeuroTendrils
